*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
    /*home section */
.home {
    color: #5A3E36;
  }
  
    /* Hero Section */

  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem;
    width: 100%;              
    background-color: #FFFDF9;
    flex-wrap: wrap;
    gap: 2rem;
  }
  
  .hero-left {
    flex: 1;
    min-width: 320px;
    max-width: 600px;
    text-align: center;
  }
  
  .hero-left h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 700;
    color: #5A3E36;
    line-height: 1.3;
    
  }
  .hero-left .highlight{
    color:#ecab44;
    font-weight: 800;
    letter-spacing: 0.5px;

  }
  
  .hero-left p {
    font-size: 1.15rem;
    color: #7A5C4F;
    margin-bottom: 2rem;
    line-height: 1.6;

  }

  /* laern more button */
  .learn-btn {
    background-color: #D2691E;
    color: #FFF5E1;
    cursor: pointer;
    padding: 10px 12px;
    border-radius: 15px;
  }
  .learn-btn:hover{
    color: #D2691E;
    background-color: transparent;
    border: 2px solid #D2691E;
    transition: background-color 0.3s ease;

  }
  .hero-right {
    flex: 1;
    min-width: 300px;
    text-align: center;
  }
  
  .hero-right img {
    max-width: 70%;
    height: auto;
  }
  
  /* features Section */
  .features {
    width: 100%;
    padding: 4rem 2rem;
    text-align: center;
    background-color: #FFF5E1;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .feature-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .feature-card {
    background-color: white;
    border-radius: 20px;
    padding: 2rem;
    width: 100%;
    max-width: 30%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
  }
  
  .feature-card img {
    width: 64px;
    margin-bottom: 1rem;
  }
  
  .feature-card h3 {
    margin-bottom: 0.5rem;
  }
  
  /* Responsive */

  

  @media (min-width: 769px) and (max-width:1024px){
    .hero {
        flex-direction: row;
        text-align: center;
        padding: 3rem;
    }
    .hero-left {
        margin: 0 auto;
      }
    
      .hero-left h1 {
        font-size: 3rem;
      }
      .feature-card {
        max-width: 80%;

      }
      
  }
  @media (max-width: 768px) {
    .hero {
      flex-direction: column;
      text-align: center;
    }
  
    .hero-left h1 {
      font-size: 2.8rem;
    }
  
    .feature-card {
      width: 100%;
      max-width: 80%;
    }
  }

  @media (max-width: 480px){
    .hero {
        flex-direction: column;
        padding: 2rem 1rem;
        gap: 2rem;
      }
    
      .hero-left {
        text-align: center;
        max-width: 100%;
      }
    
      .hero-left h1 {
        font-size: 2.5rem;
        padding: 0.5rem;
      }
    
      .hero-left p {
        padding: 1rem;
        font-size: 1rem;
        margin-bottom: 1.5rem;
      }
    
      .learn-btn {
        font-size: 0.9rem;
        padding: 1rem;
      }
    
      .features {
        padding: 3rem 1rem;
      }
    
      .feature-card {
        max-width: 90%;
        padding: 2rem;
      }
    
      .features h2 {
        font-size: 2rem;
      }
    }
    
 